*{
    margin : auto;
    padding: auto;
    box-sizing: border-box;
    list-style : none;
}
:root{
    --color-primary : #191d2b;
    --color-secondary : #27ae60;
    --color-white : #ffffff;
    --color-black : #000000;
    --color-grey0 : #f8f8f8;
    --color-grey-1 : #dbe1e8;
    --color-grey-2 : #b2becd;
    --color-grey-3 : #6c7983;
    --color-grey-4 : #454e56;
    --color-grey-5 : #2a2e35;
    --color-grey-6 : #12181b;
    --br-sm-2 : 14px;
    --box-shadow: 0 3px 15px rgba(0,0,0,3);
    --transtion-4s: all .4s ease-in-out;
}
body{
    font-style: 'Poppins', sans-serif;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size : 1.1rem;
    transition: all .4s ease-in-out;
}
a{
    display: inline-block;
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}
header{
    height: 100vh;
    color: var(--color-white);
    overflow : hidden;
}
section{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    left: 0;
    top: 0;
    padding:3rem 18rem; 
}
.section{
    transform: translateX(-100%);
    transition: var(--transtion-4s);
    background-color: var(--color-primary);
}
.sec1{
    transform: translateY(0) scale(1);
    display: none;
}
.sec2{
    transform: translateY(0) scale(1);
    display: none;
}
.sec3{
    transform: translateY(0) scale(1);
    display: none;
}
.sec4{
    transform: translateY(0) scale(1);
    display: none;
}
.sec5{
    transform: translateY(0) scale(1);
    display: none;
}
.active{
    display: block;
    animation: scaleAnim 1s ease-in-out;
    @keyframes scaleAnim {
        0%{
            transform: translateY(-100%) scaleY(0);
        }
        100%{
            transform: translateY(0) scaleY(1);
        }
    }
}

.controlls{
    position: fixed;
    right: 3%;
    top:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    .control{
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-grey-4);
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .7rem 0;
        box-shadow: var();
        i{
            font-size: 1.2rem;
            color: var(--color-grey-1);
            pointer-events: none;
        }
    }
    .active-btn{
        background-color: var(--color-secondary) !important;
        transition: var(--transtion-4s);
        i{
            color: var(--color-white) !important;
        }
    } 

}
// about
.about-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    .left-about{
        padding-right: 5rem;
        p{
            line-height: 2rem;
            padding: 1rem 0;
            color: var(--color-grey-1);
        }
        h4{
            font-size:2rem;
            text-transform: uppercase;
            color: var(--color-secondary);
            text-align: center;
            padding: 3.4rem 0;
        }
    }
    .right-about{
        .about-items{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem;
            border: 1px var(--color-grey-5);
            border-radius: 5px;
            transition: var(--transtion-4s);
            box-shadow: 1px 4px 15px rgbd(0,0,0,1);
            .abt-text{
                padding:1.5rem;
                display: flex;
                flex-direction: column;
                &:hover{
                    cursor: default;
                    transform: translateY(-5px);
                    border: 1px solid var(--color-secondary);
                    box-shadow: 1px 4px 15px rgbd(0,0,0,32);
                    border-radius: 10px;
                }
                .large-text{
                    font-size: 3rem;
                    font-weight:800;
                    color: var(--color-secondary);
                }
                .small-text{
                    padding-left: 3rem;
                    position: relative;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    letter-spacing: 2px;
                    color: var(--color-grey-1);
                    &::before{
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 15px;
                        width: 2rem;
                        height: 2px;
                        background-color: var(--color-grey-5);
                    }
                }
            }
        }
    }
}
.about-stats{
    padding-bottom: 4rem;
    .stat-title{
        text-transform: uppercase;
        color: var(--color-secondary);
        text-align: center;
        padding: 3.4rem 0;
        font-size: 2rem;
    }
    .progress-bars{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:2rem;
        .progress-bar{
            display: flex;
            flex-direction: column;
            .progress-title{
                text-transform: uppercase;
                font-weight: 500;
            }
            .progress-container{
                display: flex;
                align-items: center;
                .progress-text{
                    color: var(--color-grey-2);
                }
                .progress{
                    width: 20rem !important;
                    height: .45rem ;
                    background-color: var(--color-grey-4);
                    margin-left: 1rem;
                    position: relative;
                    span{
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        background-color: var(--color-secondary);
                        transition: var(--transtion-4s);
                    }
                    .html{
                        width:90%;
                    }
                    .c{
                        width:50%
                    }
                    .django{
                        width:70%
                    }
                    .css and scss{
                        width:40%
                    }
                    .js{
                        width:90%
                    }
                    .java{
                        width:40%
                    }
                    .spring{
                        width: 15%;
                    }
                    .react{
                        width:5%;
                    }
                    .python{
                        width: 90%;
                    }
                }
            }
        }
    }
}
//timeline
.timeline{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-bottom: 3rem;
    font-style: inherit;
    .timeline-item{
        position: relative;
        padding-left: 3rem;
        border-left: 1px;
        .tl-icon{
            position: absolute;
            left: -27px;
            top: 0;
            background-color: var(--color-secondary);
            width: 50px;
            height: 50px;
            border-radius: 50%; 
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                font-size: 1.3rem;
            }
        }
        .tl-duration{
                padding: .2rem .6rem;
                background-color: var(--color-grey-5);
                border-radius: 15px;
                display: inline-block;
                font-size: .8rem;
                text-transform: uppercase;
                font-weight: 500;
        }
        h5{
            padding: 1rem 0;
            text-transform: uppercase;
            font-size: 1.3rem;
            color: var(--color-secondary);
            font-weight: 600;
            span{
                color: var(--color-grey-2);
                font-weight: 500;
                font-size: 1.2rem;
            }
        }
    }
}
// header
.header-content{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    height: 100%;
    .left-content{
        display: flex;
        align-items: center;
        position: relative;
        .h-shape{
            transition: var(--transtion-4s);
            width: 65%;
            height: 100%;
            background-color: var(--color-secondary);
            position: absolute;
            left:0;
            top: 0;
            z-index: -1;
            clip-path: polygon(0 0 ,46% 0,79% 100%,0% 100%);
        }
        .img{
            border-radius: var(--br-sm-2);
            width:68%;
            height: 90%;
            margin-left: 4rem;
            background-color: var(--color-black);
            transition: var(--transtion-4s);
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: var(--transtion-4s);
                filter: grayscale(100%);
                &:hover{
                    filter:grayscale(0%)
                }
            }
        }
    }
    .right-content{
        display: flex;
        flex-direction: column;
        justify-self: center;
        padding-right: 18rem;
        .name{
            font-size: 3rem;
            span{
                color: var(--color-secondary);
            }
        }
        p{
            margin: 1.5rem 0;
            line-height: 2rem;
        }
    }
}

.main-btn-container{
    display: flex;
    align-self: flex-start;
}
.main-btn{
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-self: flex-start;
    display: flex;
    align-items: center;
    overflow: hidden;
    .btn-text{
        padding: 0 2rem;
    }
    .btn-icon{
        background-color: var(--color-secondary);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 1rem;
    }
    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: var(--transtion-4s);
        z-index: -1;
    }
    &:hover{
        &::before{
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            transition: var(--transtion-4s);
            transform: translateX(0%);
        }
    }
}
.main-title{
    text-align: center;
    h2{
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;
        span{
            color: var(--color-secondary);
        }
        .big-text{
            position: absolute;
            top: -30%;
            left:30%;
            color: var(--color-grey-5);
            transition: var(--transtion-4s);
            z-index: -1;
            transform: translate(-50% -50%);
            font-weight: 800;
            font-size: 6.3rem;
        }
    }
}